// Place all the styles related to the list_presentations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list_presentations {

  table {
    width: 100%;
    border-collapse: collapse;
  }
  table tr td {
    padding: 5px;
    vertical-align: top;
    p {
      font: 120% sans-serif;
      font-style: italic;
    }
  }
  .tags {
    font: 40% sans-serif;
  }
  .list_line_odd {
    background-color: #FFD1B2;
  }
  .list_line_even {
    background-color: #ffb581;
  }
  .search_button {
    margin-left: 100px;
  }
}