// Place all the styles related to the ListDocuments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list_documents {

  table {
    width: 100%;
    border-collapse: collapse;
  }
  table tr td {
    padding: 5px;
    vertical-align: top;
    p {
      font: 120% sans-serif;
      font-style: italic;
    }
  }
  .tags {
    font: 40% sans-serif;
  }
  .list_line_odd {
    background-color: #eaf4ff;
  }
  .list_line_even {
    background-color: #c2e0ee;
  }
  .search_button {
    margin-left: 100px;
  }
}